body{
	background-color:rgba(73, 162, 162, 0.1) ;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: rgb(17, 109, 145);
	padding-bottom: 40px;
	width: 300px;
	border-left: 5px solid pink;
	border-right: 5px solid pink;
	border-bottom: 5px solid pink;
	padding-bottom: 5px;
	margin-bottom: 100px;
	max-width: 300px;
	text-align: center;

}

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #101011;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
	transition: all 0.5s;
} 

.left_arm:hover{
	transform: rotate(-60deg);
}

.right_arm { 
	margin-left: 10px; 
	transition: all 0.5s;
} 

.right_arm:hover{
	transform: rotate(60deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	transition: all 0.5s;
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	
	/* This is another useful property.*/
	margin: 0 auto;
	display: flex; 
	margin-top: 10px;
	padding-top: 10px;
} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





